<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>{% block title %}{% endblock %}</title>
    <link href="/static/site.css" rel="stylesheet"> 
</head>
<body>
  <div class="wrapper">
  <div class="header">
	<p class="logo">Μισθοδοσία 2013 <i class="mm">To<br>Χαμένο σε αλλα<br>Βιβλίο</i></p>
  </div>
  </div> 
  {% block content %}{% endblock %}
  {% block footer %}
  <hr>
  <a href="/">Επιστροφή στο κεντρικό μενού</a>
  <p>Ευχαριστούμε για την προτίμηση</p>
  
  {% endblock %}
</body>
</html>